.Our_products{
    height: 420px;
    background-image: url(../img/bg-top.b2740571fef02d4fb915.png);
    background-position: top right;
    background-repeat: no-repeat;

}
.who_we{
    background-color: #A61828;
}
.blog_section{
    padding: 50px;
    background-color: #A61828;
}

.product_image img{
    position: relative;
    filter: grayscale(50%);
    width: 300px;
    height: 150px;
}
